body
{
    background-color: rgba(85, 85, 85, 0.055);
}
.no-border
{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    /* margin: ; */
}
*
{
    font-family: agency;
    font-style: italic;
    font-weight: bold;
}
td
{
    text-transform: capitalize;
}
.line
{
    border:2px solid white;
}
